h3 {
     margin-top: 1rem;
     margin-bottom: 1rem;
}

label {
     font-size: 0.9rem;
}

input , kendo-dropdownlist {
     font-size: 0.9rem;
     height: 4vh;
}

kendo-datepicker {
     font-size: 0.8rem;
     height: 8vh;
}

kendo-grid {
     font-size: 0.8rem;
     height: 40vh;
}

button {
     font-size: 0.8rem;
}