<br />
<div class="hero-layout">
  <div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>
  </div>

  <div class="hero-search">
    <app-hero-search> </app-hero-search>
  </div>
</div>


<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/hero-detail/{{hero.Id}}">
      <span class="badge">{{hero.Id}}</span> {{hero.Name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>

<app-messages> </app-messages>