input {
     font-size: 0.7rem;
}

label, div {
     font-size: 0.8rem;
     margin-bottom: 10px;
}

kendo-dropdownlist, kendo-datepicker {
     font-size: 0.7rem;
     height: 70px;
}

.k-button {
     font-size: 0.8rem;
     padding: 5px 10px;
   }
