<h4 class="heading">Change Password</h4>

<div class="card shadow-sm border-0 px-3 px-lg-4 py-4">
     <form name="editForm" [formGroup]="editForm" novalidate>
          <div class="row">
               <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="form-group">
                         <label class="col-form-label"> Old Password :</label>
                         <input type="password" name="oldpwd" class="form-control" formControlName="oldPassword" />
                         <div class="text-danger text-xs" [hidden]="editForm.controls.oldPassword.valid || editForm.controls.oldPassword.pristine">
                              Old password is required.
                         </div>
                    </div>
                    <div class="form-group">
                         <label class="col-form-label"> New Password :</label>
                         <input type="password" name="newpwd" class="form-control" formControlName="Password" />
                         <div class="text-danger text-xs" [hidden]="editForm.controls.Password.valid || editForm.controls.Password.pristine">
                              Start with uppercase letter, at least one numeric character, at least one spicial character, Minimum password length is {{minPasswordLength}}
                         </div>
                    </div>
                    <div class="form-group" ng-hide="reset.resetID > 0">
                         <label class="col-form-label"> Confirm Password :</label>
                         <input type="password" name="confirmpw" class="form-control" formControlName="ConfirmPassword" />
                         <div class="text-danger text-xs" [hidden]="editForm.controls.ConfirmPassword.valid || editForm.controls.ConfirmPassword.pristine">
                              Password Not Match.
                         </div>
                    </div>
                    <div class="mt-4">
                         <button class="btn btn-secondary" (click)="cancel()"> Cancel </button>
                         &nbsp;
                         <button class="btn btn-success" [disabled]="!editForm.valid" (click)="change()"> Save </button>
                    </div>
               </div>
          </div>
     </form>
</div>