<div class="forgotpassword-email">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <br/><br/><br/>
            <h1>Forgot Password</h1>
            <form name="fgpform" [formGroup]="fgpform" >
                <div class="form-content">
                    <div class="form-group">
                        <input
                            [placeholder]="'Login Name' | translate"
                            class="form-control input-underline input-lg"
                            type="text"
                            formControlName="LoginName" 
                        />
                        <label class="text-danger text-xs"
                            [hidden]="fgpform.controls.LoginName.valid || fgpform.controls.LoginName.pristine">
                            Login Name is required
                        </label>
                    </div>

                    <div class="form-group">
                        <input
                            [placeholder]="'Email' | translate"
                            class="form-control input-underline input-lg"
                            type="email"
                            formControlName="Email" 
                        />
                        <div *ngIf="fgpform.controls.Email.invalid && !fgpform.controls.Email.pristine">
                            <label *ngIf="fgpform.controls.Email.errors.email" class="text-danger text-xs">Please provide a valid email address</label> 
                            <label *ngIf="fgpform.controls.Email.errors.required" class="text-danger text-xs">This field is required</label> 
    
                        </div>
                    </div>
                    <div *ngIf="IsOTPSent" >
                        <div class="form-group">
                            <input readonly formControlName="OTPPrefix" style="width:20px" /> -
                            <input
                                [placeholder]="'OTP Passcode' | translate"
                                formControlName="OTPPasscode" 
                            />
                            <label *ngIf="OTPTimeoutCountDown > 0">Wait to resend OTP: {{OTPTimeoutCountDown}}</label>
                            <button type="submit" *ngIf="IsOTPTimeout" [disabled]="fgpform.controls.Email.invalid || fgpform.controls.LoginName.invalid" class="btn btn-primary rounded-pill btn-lg text-lg" (click)="requestOTP()">
                                Get New OTP
                            </button>
                            <div class="text-danger text-xs"
                                [hidden]="fgpform.controls.OTPPasscode.valid || fgpform.controls.OTPPasscode.pristine">
                                Invalid OTP
                            </div>

                            
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Password :
                                <span class="text-danger text-sm">*</span>
                            </label>
                            <input type="password" name="pw" class="form-control" formControlName="Password" ng-pattern="pattern" autocomplete="off" />
                            <div class="text-danger text-xs"
                                [hidden]="fgpform.controls.Password.valid || fgpform.controls.Password.pristine">
                                Start with uppercase letter,at least one numeric character,at least one special character, Minimum password length is {{minPasswordLength}}.
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Comfirm Password :
                                <span class="text-danger text-sm">*</span>
                            </label>
                            <input type="password" name="confirmpw" class="form-control" formControlName="ConfirmPassword">
                            <div class="text-danger text-xs"
                                [hidden]="fgpform.controls.ConfirmPassword.valid || fgpform.controls.ConfirmPassword.pristine">
                                Confirm Password Not Match
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    
                    <button type="submit" *ngIf="!IsOTPSent" [disabled]="!fgpform.valid" class="btn btn-block btn-primary rounded-pill btn-lg text-lg" (click)="requestOTP()">
                        Get OTP
                    </button>

                    <button type="submit" *ngIf="IsOTPSent" [disabled]="!fgpform.valid" class="btn btn-block btn-primary rounded-pill btn-lg text-lg" (click)="changePassword()">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
