.heading {
     margin-top: 1rem;
     margin-bottom: 1.5rem;
}

form {
     width: 50vw;
}

kendo-dropdownlist {
     font-size: 0.7rem;
     height: 50px;
     width: 50vw;
}

kendo-upload {
     font-size: 0.7rem;
     padding: 0.5rem;
     margin-bottom: 1rem;
     width: 50vw;
}

label {
     font-size: 1rem;
     margin-bottom: 1vh;
}

input {
     font-size: 0.9rem;
}

.required-info {
     font-size: 0.7rem;
     margin-top: 5px;
}

.k-button {
     font-size: 0.8rem;
}